POSTGRES_DB=Lumin_db
POSTGRES_USER=Lumin_User
POSTGRES_PASSWORD=

DB_HOST=db
DB_PORT=5432
DB_NAME=Lumin_db
DB_USERNAME=Lumin_User
DB_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=none

AI_API_KEY=
AI_BASE_URL=
AI_MODEL=

JWT_SECRET=DWAHNDIW198UEH9184219DHWIUAD1892312U8931DSHHAUFJAKBHE98217Y38912